/*ErrorPage styles*/

.errorpage-homebutton {
    margin-top: 1vh;
}

.errorpage-homebutton:hover {
    margin-top: 0.65vh;
    margin-bottom: 0.43vh;
    border-color: rgba(46, 49, 45, 0.8);
    padding: 1.5vh 2.5vh;
}

.errorpage-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 33vh;
    padding: 2vh 0vh 2vh;

    h1 {
        font-size: 8vh;
        margin: 0;
    }
}