@import "styles/header.css";
@import "styles/navbar.css";
@import "styles/slider.css";
@import "styles/footer.css";
@import "styles/errorpagebody.css";
@import "styles/homepagebody.css";
@import "styles/ourproductcard.css";
@import "styles/ourproducts.css";
@import "styles/login.css";
@import "styles/registration.css";
@import "styles/provideingredient.css";
@import "styles/loginerror.css";
@import "styles/profilemenu.css";
@import "styles/receiveingredient.css";
@import "styles/receiveingredientcard.css";
@import "styles/createproduct.css";
@import "styles/productlist.css";
@import "styles/productcard.css";
@import "styles/ingredientcard.css";
@import "styles/profile.css";
@import "styles/profiledata.css";
@import "styles/profileproductingredientlist.css";
@import "styles/profileproductcard.css";
@import "styles/profileingredientcard.css";
@import "react-toastify/dist/ReactToastify.css";

/*Global styles*/

@media (min-width: 1200px) {
  .header.homepage {
    height: 100vh;
  }

  .header.errorpage {
    height: 40vh;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    height: 80vh;
  }
}

@media (max-width: 767px) {
  .header {
    height: 50vh;
  }

  .slide-bubble {
    position: absolute;
    width: 20vh;
    margin-top: 0vh;
    margin-left: 0vh;
  }
}

body {
  margin: 0;
  justify-content: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  display: flex;
  height: 2rem;
  width: 5rem;
  margin: 0rem 0.3rem;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-decoration: none;
  color: rgb(250, 250, 250);
  cursor: pointer;
  transition: all 0.3s ease;
}

a:hover {
  font-weight: 800;
  color: rgb(154, 205, 50);
  font-size: 1.3rem;
}

h1 {
  color: rgb(154, 205, 50);
}

p {
  color: rgb(250, 250, 250);
}

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  -webkit-appearance: none;
}