@import "styles/components/header.css";
@import "styles/components/navbar.css";
@import "styles/components/slider.css";
@import "styles/components/footer.css";
@import "styles/pages/errorpage.css";
@import "styles/pages/homepage.css";

/*Global styles*/

@media (min-width: 1200px) {
  .header.homepage {
    height: 100vh;
  }

  .header.errorpage {
    height: 40vh;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    height: 80vh;
  }
}

@media (max-width: 767px) {
  .header {
    height: 50vh;
  }

  .slide-bubble {
    position: absolute;
    width: 20vh;
    margin-top: 0vh;
    margin-left: 0vh;
  }
}

body {
  margin: 0;
  justify-content: center;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

a {
  display: inline;
  font-size: 2vh;
  text-decoration: none;
  color: #FAFAFA;
  padding: 0vh 1vh;
  cursor: pointer;
}

a:hover {
  font-weight: 800;
  color: yellowgreen;
  font-size: 2.2vh;
}

h1 {
  color: yellowgreen;
}

button {
  border-radius: 3vh;
  border: 0.3vh solid transparent;
  padding: 1.5vh 2.5vh;
  font-size: 2vh;
  font-weight: 400;
  font-family: inherit;
  color: #FAFAFA;
  background-color: yellowgreen;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-bottom: 0.5vh;
}

button:hover {
  border-color: #FAFAFA;
  border: 0.4vh solid;
  padding: 1.5vh 2.5vh;
  font-size: 2.2vh;
  font-weight: 600;
  padding: 1.3vh 1.8vh;
}