/*Footer styles*/

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0vh 20vh 1vh;
    background-color: rgb(0, 51, 59);
    color: rgb(160, 160, 160);
    height: 29vh;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.footer-logo {
    max-width: 8vh;
    height: auto;
}

.footer-logo:hover {
    max-width: 9vh;
    height: auto;
    margin-left: -0.5vh;
}

.signature {
    display: flex;
    justify-content: center;
}