/*ErrorPage body styles*/

.errorpage-homebutton {
    margin-top: 0.7rem;
}

.errorpage-homebutton:hover {
    border-color: rgb(0, 51, 59);
}

.errorpage-body {
    background-color: rgb(247, 253, 237);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 19.65rem;
    padding: 1.17rem 0rem 1.17em;

    h1 {
        font-size: 5rem;
        margin: 0;
    }
}