/*Footer styles*/

.footer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0rem 10rem 1rem;
    background-color: rgb(0, 51, 59);
    color: rgb(160, 160, 160);
    height: 16.9rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
}

.footer-logo {
    width: 5rem;
    height: auto;
    transition: all 0.3s ease;
}

.footer-logo:hover {
    width: 6rem;
    height: auto;
    margin-left: 0rem;
    margin-top: -0.1rem;
}

.signature {
    display: flex;
    justify-content: center;
}