/*NavBar styles*/

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60rem;
    height: 6rem;
    border-radius: 3rem;
    background-color: rgba(46, 49, 45, 0.8);
    padding-left: 0.5rem;
    margin-top: 3rem;
    z-index: 1;
}

.logo-link {
    width: 6rem;
    height: 6rem;
}

.navbar-logo {
    width: 5rem;
    height: auto;
    margin-left: 2.5rem;
    transition: all 0.3s ease;
}

.navbar-logo:hover {
    width: 6rem;
    height: auto;
}

.navbar-links {
    display: flex;
    justify-content: right;
    padding-right: 2rem;
}

.about-us-link {
    width: 6rem;
}

.our-products-link {
    width: 8rem;
}

.provide-ingredient-link {
    width: 12rem;
}

.order-products-link {
    width: 9rem;
}

.create-product-link {
    width: 9rem;
}

.login-link{
    width: 4rem;
}

.logout-link{
    width: 5rem;
}

.profile-link{
    width: 4rem;
}