/*ProvideIngredient styles*/

.provide-ingredient {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 31vh;
    padding: 3vh 1vh 3vh;
    background-color: rgb(247, 253, 237);

    h1 {
        margin: 1vh 0 5vh;
    }
}

.ingredients {
    margin-bottom: 2vh;
    height: 4vh;
    font-size: 2vh;
    border-radius: 1vh;
    border: 0.2vh solid rgb(0, 51, 59);
    color: rgb(0, 51, 59);
    transition: border-color 0.3s ease;
}

.ingredients:focus {
    border: 0.3vh solid rgb(154, 205, 50);
    outline: none;
}

.provide-input-container {
    display: inline-flex;
    align-items: center;
    margin-bottom: 2vh;
    height: 5vh;
    width: 12vh;

    input {
        padding-right: 1.5vh;
        text-align: center;
        font-size: 2vh;
        height: 3vh;
        width: 10vh;
        border-radius: 1vh;
        border: 0.2vh solid rgb(0, 51, 59);
        color: rgb(0, 51, 59);
        transition: border-color 0.3s ease;
    }

    input:focus {
        border: 0.3vh solid rgb(154, 205, 50);
        outline: none;
    }
}

.provide-unit-label {
    margin-left: -3vh;
}

.provide-button {
    margin-top: 0.6vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3vh;
    border: 0.4vh solid transparent;
    padding: 0.1vh 0.1vh 0.1vh;
    font-size: 2vh;
    font-weight: 400;
    font-family: inherit;
    color: rgb(247, 253, 237);
    background-color: rgb(154, 205, 50);
    cursor: pointer;
    transition: all 0.3s ease;
    height: 6vh;
    width: 14vh;
}

.provide-button:hover {
    border-color: rgb(0, 51, 59);
    font-size: 2.2vh;
    font-weight: 600;
}