/*ReceiveIngredient styles*/

.receive-ingredient {
    background-color: rgb(247, 253, 237);
    padding: 3vh;

    h1 {
        margin: 0;
        text-align: center;
    }
}

.receive-ingredient-list {
    padding: 8vh 0vh 8vh;
    display: grid;
    gap: 8vh;
    grid-template-columns: repeat(auto-fit, minmax(30vh, 35vh));
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.receive-ingredient-none {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 37vh;
}